#site_title{
	height: 200px;
	width: 50%;
	margin: 0 25%;
}

#content {
	margin: 70px;
}

#general_title {
	color: #D3D3D3;
	font-family: "Allerta Stencil", Sans-serif;
	font-size: 40px;
}

.game_text {
	display: inline;
	float: left;
	width: 70%;
	margin-left: 50px;
	margin-top: 20px;
}

.game_image {
	width: 200px;
	height: 200px;
	display: inline;
	float: left;
}

body {
	background-color: black;
}