#content {
	margin: 70px;
}

#general_title {
	color: #D3D3D3;
	font-family: "Allerta Stencil", Sans-serif;
	font-size: 40px;
	text-shadow:1px 1px 0 #444;
}

.game_text {
	display: inline;
	float: left;
	width: 70%;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #4d4d4d;
}

.game_image {
	width: 200px;
	height: 200px;
	display: inline;
	float: left;
}

.game_preview {
	display: block;
	float: left;
	margin-top: 50px;
	margin-bottom: 30px;
}

.game_link {
	float: left;
	margin-left: 60px;
	margin-top: 20px;
	font-size: 20px;
}

.game_title {
	font-size: 30px;
	color: #4d4d4d;
}

body {
	background-color: black;
}