<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" type="text/css" href="../static/style/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/style/games.css">
	<title>Game</title>
</head>
<body>
	<div id="header">
		<img id="site_title" src="../static/images/title.png" alt="title">
	</div>
	<div>
		<ul id="navbar">
			<li class="navbar_link"><a class="nav_link" href="home.html">Home</a></li>
			<li class="navbar_link"><a class="nav_link" href="games.html">Games</a></li>
			<li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="register.html">Register</a></li>
			<li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-log-in"></span><a class="nav_link user_link" href="login.html">Login</a></li>
		</ul>
	</div>
	<div class="game">
		<p class="game_title">Hearthstone</p>
		<a href="game.html"><img class="game_img" src="../static/images/hearthstone-logo.jpg"></a>
	</div>
	<div class="game">
		<p class="game_title">Making History</p>
		<a href=""><img class="game_img" src="../static/images/making_history-logo.jpg"></a>
	</div>
	<div class="game">
		<p class="game_title">Tzar</p>
		<a href=""><img class="game_img" src="../static/images/tzar-logo.jpg"></a>
	</div>
		<div class="game">
		<p class="game_title">Hearthstone</p>
		<a href=""><img class="game_img" src="../static/images/hearthstone-logo.jpg"></a>
	</div>
	<div class="game">
		<p class="game_title">Making History</p>
		<a href=""><img class="game_img" src="../static/images/making_history-logo.jpg"></a>
	</div>
	<div class="game">
		<p class="game_title">Tzar</p>
		<a href=""><img class="game_img" src="../static/images/tzar-logo.jpg"></a>
	</div>
</body>
</html>