<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" type="text/css" href="../static/style/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/style/my_profile.css">
	<title>Game</title>
</head>
<body>
	<div id="header">
		<img id="site_title" src="../static/images/title.png" alt="title">
	</div>
	<div>
		<ul id="navbar">
			<li class="navbar_link"><a class="nav_link" href="home.html">Home</a></li>
			<li class="navbar_link"><a class="nav_link" href="games.html">Games</a></li>
			<li class="navbar_link user_link"><span class="symbol glyphicon glyphicon-user"></span><a class="nav_link user_link" href="my_profile.html">My profile</a></li>
		</ul>
		</ul>
	</div>
		<h1 id="title">My profile</h1>
		<img id="user_pic" src="../static/images/user3_pic.jpg">
		<div class="profile">
			<p class="user_field">Username: Bat Gosho</p>
			<p class="user_field">E-mail: evala_gosho@naigolemiq.siti</p>
		</div>
		<div id="btns">
			<button id="edit_btn"><a class="btn" href="">Edit profile</a></button>
		</div>
		<div id="btns">
			<button id="img_btn"><a class="btn" href="">Change image</a></button>
		</div>
	</div>
</body>
</html>