<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style/login_register.css">
	<title>Rigester</title>
</head>
<body>
	<div class="form">
		<form>
			<p>Username:</p>
			<input type="text" name="username" value="Username">
			<br><br>
			<p>E-mail</p>
			<input type="text" name="username" value="Username">
			<br><br>
			<p>Password:</p>
			<input type="password" name="password" value="Password">
			<br><br>
			<p>Confirm password:</p>
			<input type="password" name="password" value="Password">
			<br>
			<a class="link" href="login.html">Already have an account</a>
			<input class="button" type="submit" value="Register">
		</form>
	</div>
</body>